/* Colores */
:root {
  --color-botones: #57ebb6;
  --color-input: #03facd;
  --color-border: rgb(247, 80, 164);
  --color-placeholder: #8d8d8d;
  --color-blanco: #fff;
  --color-negro: #000;
  --color-by: #03facd;
  --color-grandiente-fondo-medio: rgb(173, 253, 144);
  --color-grandiente-fondo-alto: rgb(171, 254, 222);
  --color-grandiente-fondo-bajo: rgb(254, 63, 167);
  --color-gradeinte1: rgb(251, 0, 0);
  --color-gradeinte2: rgb(254, 114, 0);
  --color-gradeinte3: rgb(255, 221, 3);
  --color-gradeinte4: rgb(0, 253, 8);
  --color-gradeinte5: rgb(0, 255, 255);
  --color-gradeinte6: #000cef;
  --color-gradeinte7: rgb(173, 0, 254);
  --color-gradeinte8: rgb(254, 0, 174);
  --color-gradeinte9: #f70004;

  /* Tipografía */
  --font-parrafos: "Comic Sans MS", sans-serif;
  --font-titulos: "Comic Sans MS", cursive, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: var(--font-titulos);
}

body{
  background: linear-gradient(
    to bottom,
    var(--color-grandiente-fondo-alto),
    var(--color-grandiente-fondo-medio),
    var(--color-grandiente-fondo-bajo)
  );
 
}

header {
  width: 1510px;
  height: 78px;
}

header div {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: var(--color-negro);
  justify-content: space-between;
}

header div .menu {
  width: 60px;
  height: 50px;
  display: flex;
  background-color: var(--color-botones);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header div .menu div {
  width: 45px;
  height: 50px;
  background-color: var(--color-negro);
}

header div img {
  height: 64px;
  width: 70px;
  margin-top: 10px;
}

header div button {
  background-color: var(--color-botones);
  width: 181px;
  height: 50px;
  border-color: var(--color-border);
  border-width: 2px;
  margin-bottom: 18px;
}

header div button a {
  list-style: none;
  text-decoration: none;
}

header div button a h4 {
  font-family: var(--font-parrafos);
  font-size: 1.2rem;
  color: var(--color-negro);
}

main {
    font-family: "Arial", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    background-color: #57ebb6;
    padding: 30px;
    border-radius: 20px;
    width: 1100px;
    height: 500px;
    text-align: center;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--color-border);
  }
  
  h1 {
    padding-left: 50px;
    padding-right: 50px;
    border: 2px solid var(--color-border);
    border-radius: 30px;
    background-color: #03facd;
    font-size: 5rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin-bottom: 4rem;
  }
  
  label {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: var(--color-negro);
    text-align: left;
    margin-left: 0; 
  }
  
  input {
    display: block;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid var(--color-border);
    border-radius: 100px;
    font-size: 1rem;
    color: #333;
    background-color: #03facd;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 100%; 
    box-sizing: border-box; 
  }
  
  input.uno {
    width: 70%;
  }
  
  input.dos {
    width: 50%; 
  }
  
  input:focus {
    outline: none;
    box-shadow: 0 0 5px #00b5b5;
  }
  
  main button {
    width: 100%;
    padding: 12px;
    background-color: #00b5b5;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #008f8f;
  }
  footer {
    margin-top: 6rem;
    width: 1510px;
    height: 78px;
  }
  
  footer section {
    position: absolute;
    bottom: 0px;
    top: 949px;
    left: 645px;
  }
  
  footer section p {
    color: var(--color-input);
    font-family: var(--font-parrafos);
  }
  
  footer div {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: var(--color-negro);
  }
  
  footer div div {
    margin-top: 2rem;
  }
  
  footer div .uno img {
    width: 32px;
    height: 32px;
    color: var(--color-input);
    position: absolute;
    bottom: 0px;
    top: 945px;
    left: 60px;
  }
  
  footer div .dos img {
    width: 32px;
    height: 32px;
    color: var(--color-input);
    position: absolute;
    bottom: 0px;
    top: 945px;
    left: 120px;
  }
  
  footer div .tres img {
    width: 32px;
    height: 32px;
    color: var(--color-input);
    position: absolute;
    bottom: 0px;
    top: 945px;
    left: 180px;
  }
  
  